<nav class="bg-main-green flex flex-col text-main-white  min-h-screen max-w-sm w-full">
    <header class="bg-darker-green flex  h-fit items-center pr-12 p-6  justify-between flex-row w-full ">
        <div class="flex flex-row font-main font-semibold text-xl  w-full">
            <h1 class="mr-2">{{name?.slice(0, 15)}}</h1>
            <img  src="../../../assets/gear.svg"/>
        </div>
        <div 
        (click)="logOut()"
        class="cursor-pointer flex flex-col font-semibold font-main text-xs text-main-red">
            <img  src="../../../assets/getOut.svg"/>
            <h6 class="ml-[2px]">Sair</h6>
        </div>
    </header>
    <main class="h-full mt-28 border-main-white">
        <div *ngIf="role === 'admin' ">
            <div 
            (click)="setActive(item.index)"
            *ngFor="let item of adminItensMenu"
            [ngClass]="activeItem === item.index ? 'bg-main-white text-main-green' : 'bg-main-green  text-main-white'"
            class="flex flex-row px-12 h-20 text-2xl font-semibold my-4 justify-between font-main cursor-pointer"
            >
            <img class="w-14"  [src]="activeItem === item.index ? item.activeIcon : item.icon"/>
                <h2 class="tracking-wider self-center">{{item.text}}</h2>
            </div>
            <!-- <h1 *ngFor="let item of labAdminEmployeeItensMenu" >{{item.text}}</h1> -->
        </div>
        <div *ngIf="role === 'labAdminEmployee' || role === 'labAdminTechnical' ">
            <div 
            (click)="setActive(item.index)"
            *ngFor="let item of labAdminEmployeeItensMenu"
            [ngClass]="activeItem === item.index ? 'bg-main-white text-main-green' : 'bg-main-green  text-main-white'"
            class="flex flex-row px-12 h-20 text-2xl font-semibold my-4 justify-between font-main cursor-pointer"
            >
            <img class="w-14"  [src]="activeItem === item.index ? item.activeIcon : item.icon"/>
                <h2 class="tracking-wider self-center">{{item.text}}</h2>
            </div>
            <!-- <h1 *ngFor="let item of labAdminEmployeeItensMenu" >{{item.text}}</h1> -->
        </div>
        <div *ngIf="role === 'employee' || role === 'tecnhcialResponsible' ">
            <div 
            (click)="setActive(item.index)"
            *ngFor="let item of employeeItensMenu"
            [ngClass]="activeItem === item.index ? 'bg-main-white text-main-green' : 'bg-main-green  text-main-white'"
            class="flex flex-row px-12 h-20 text-2xl font-semibold my-4 justify-between font-main cursor-pointer"
            >
            <img class="w-14"  [src]="activeItem === item.index ? item.activeIcon : item.icon"/>
                <h2 class="tracking-wider self-center">{{item.text}}</h2>
            </div>
        </div>
    </main>
</nav>