<div class="overflow-y-hidden overflow-x-hidden self-center items-center bg-second-green w-full h-full min-h-screen flex flex-col ">


    <div class=" bg-main-white flex flex-row justify-normal  max-h-screen w-full max-w-[96rem] ">


        <div class="relative flex flex-col bg-noise -mt-56    w-full  ">
            <img class=" " src = "../../assets/icon-noise.svg">
        </div>
        <div class=" max-w-xl w-full ">
            <app-employee-login-form></app-employee-login-form>
        </div>
        
        

    </div>


</div>
