.bg-dashboard{
    background-image: url("../../../../assets/banner-dashboard-svg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 28rem;
    background-attachment: fixed;
}