<div class="w-full min-h-screen bg-main-black bg-opacity-45 items-center left-0 top-0 absolute flex flex-col ">
    
    <div class="p-10 flex flex-col justify-evenly easy-out duration-100 animate-up border-x border-b border-second-gray items-center w-full max-w-4xl  mt-20  bg-main-white   rounded-[5px]">

        <header class="flex mb-14 flex-row justify-between w-full">
            <h1 class="font-main text-second-black font-semibold text-3xl">Novo funcionário</h1>
            <img alt="cancel" src ="../../../../assets/cancel.svg"/>
        </header>
        <main class="mb-14 w-full pl-5">
            <form class="w-full flex flex-col">
                <input 
                class=" max-w-96 text-xl tracking-wider outline-none font-second border border-second-gray h-14 mb-11 rounded-[5px] pl-5 w-full "
                placeholder="Nome*" 
                type="text"
                autocomplete="new-name"
                />
                <input 
                class=" max-w-96 text-xl outline-none tracking-wider font-second border border-second-gray h-14 mb-11 rounded-[5px] pl-5 w-full "
                    placeholder="Email*" 
                    type="email"
                    autocomplete="new-email" 
                />
                <input 
                class=" max-w-96 text-xl outline-none tracking-wider font-second border border-second-gray h-14 mb-2 rounded-[5px] pl-5 w-full "
                    placeholder="Função*" 
                    type="text" 
                    autocomplete="new-work"
                />
                <div class="w-full flex flex-row mb-11 ">
                    <div (click)="setIsTechnicalResponsible(!isTechnicalResponsible)" ngClass="cursor-pointer inline mr-2 border-2 border-main-gray w-full max-w-5 h-5 {{isTechnicalResponsible ? 'bg-second-green' : 'bg-main-white'}}" ></div>
                    <h4 class="inline -mt-[0.15rem]  text-second-green font-semibold font-main " >Responsável técnico</h4>
                </div>
                <input 
                *ngIf="isTechnicalResponsible"
                class=" max-w-96 text-xl outline-none tracking-wider font-second border border-second-gray h-14 mb-2 rounded-[5px] pl-5 w-full "
                    placeholder="CREA*" 
                    type="text" 
                    autocomplete="off"
                />
                
            </form>
        </main>
        <footer class="w-full flex text-main-white justify-between flex-row">
            <button class=" rounded-[5px] text-lg transition-colors ease-linear duration-150 font-second uppercase font-semibold w-full max-w-[360px] justify-between px-6 pt-4 pb-3 bg-main-gray hover:bg-hover-main-gray  flex flex-row">
                <h4>Cancelar</h4>
                <img class="w-5 mt-1" alt="cancel" src ="../../../../assets/cancel-white.svg"/>
            </button>
            <button class=" rounded-[5px] text-lg transition-colors ease-linear duration-150 font-second uppercase font-semibold w-full max-w-[360px] justify-between px-6 pt-4 pb-3 bg-main-green hover:bg-hover-main-green  flex flex-row">
                <h4>Cadastrar funcioná rio</h4>
                <img class="w-5 mt-1" alt="plus" src ="../../../../assets/plus.svg"/>
            </button>
        </footer>
 

    </div>
</div>
