<div class="bg-main-green pb-7 h-full flex flex-col w-full  p-6 ">
    <header class="h-16 flex-row justify-end  flex w-full mb-8">
        <h2 class="mr-5 text-main-white self-center font-main font-semibold text-2xl">SistLab</h2>
        <img class="max-w-16" src=" ../../../../assets/main-logo-icon.svg">
    </header>
    <main class="flex flex-col items-center max-w-2xl  w-full">
        <div class="text-center mb-8 ">
            <h1 class="text-5xl text-main-white font-main font-bold mb-2">Vamos começar</h1>
            <h3 class="text-2xl max-w-xs text-second-green font-second ">
                Cadastre um funcionário responsável pela gestão
            </h3>
        </div>
        <div class="flex flex-col justify-center  font-second text-xl text-main-gray w-full max-w-sm ">
            <input 
                class="  outline-none h-14 mb-10 rounded-[5px] pl-5 w-full "
                placeholder="Nome*" 
                type="text"
                autocomplete="cc-name"
            />
            <input 
                class="  outline-none h-14 mb-10 rounded-[5px] pl-5 w-full "
                placeholder="Email*" 
                type="email" 
                autocomplete="email"
            />
            <input 
                class="  outline-none h-14 mb-10 rounded-[5px] pl-5 w-full "
                placeholder="Telefone: (43) 9 9999-9999" 
                type="text" 
                autocomplete="tel"
            />
            <input 
                class="  outline-none h-14 mb-10 rounded-[5px] pl-5 w-full "
                placeholder="Função*" 
                type="text" 
            />
            <button
            (click)="next()"
            class="h-14 -mt-2 hover:bg-hover-second-green ease-in duration-100 bg-second-green w-full font-semibold rounded-[5px] font-second text-main-white "
            >
                PROXIMO
            </button>
        </div>  
    </main>
</div>
