<section *ngIf="!isSearchMode" class="flex flex-col  ">
    <div class="flex mb-4 flex-row justify-between text-main-white ">
        <button (click)="setModalSignUpClient(true)" class="bg-main-green flex flex-row justify-between text-left text-lg  px-5 tracking-wider rounded-[5px] hover:bg-hover-main-green transition-colors ease-linear duration-150 font-second uppercase font-semibold w-full max-w-80 pt-4 pb-3">
          <h4>Cadastrar cliente</h4>   
          <img class="mt-1 w-5" alt="plus" src="../../../assets/plus.svg">
        </button>
        <button  (click)="setSearchMode(true)" class=" flex flex-row justify-between bg-main-green text-left text-lg  px-5 tracking-wider rounded-[5px] hover:bg-hover-main-green transition-colors ease-linear duration-150 font-second uppercase font-semibold w-full max-w-80 pt-4 pb-3">
            <h4>Buscar cliente</h4>   
            <img class="mt-1 w-5" alt="lookfor" src="../../../assets/lookfor.svg">
        </button>
    </div>
    <table class="border-x border-b bg-main-white border-second-gray">
        <tr class="bg-darker-green   text-main-white text-2xl font-main font-semibold">
            <td class="py-4 pl-8">Nome</td>
            <td >Email</td>
            <td >Cidade</td>
            <td class="text-right pr-10">Laudo</td>
        </tr>
        <tr *ngFor="let client of clients" class="text-second-black mb-4  text-xl font-main font-semibold">
            <td class="py-12 pl-8 text-main-green">
                <span class=" cursor-pointer">{{client.name}}</span>
            </td>
            <td class="py-12 ">{{client.email}}</td>
            <td ngClass="py-12  w-1   ">{{client.city}}</td>
            <td class="py-12 flex flex-row justify-end pr-14">
                <img class="cursor-pointer w-8 " alt="off" src="../../../assets/new-plus.svg"/>
            </td>
        </tr>
        <tr class="text-second-black  mb-4  text-xl font-main font-semibold" *ngIf="clients.length === 0">
            <td colspan="4" class="py-12 border w-full text-center">Não há clientes</td>
        </tr>
    </table>
</section>