@keyframes hide {

    100%{
        transform: translateX(-21rem);
    }
}

@keyframes expand {

    0%{
        transform:  scaleX(1.5);
   
        
    }
}


@keyframes take {

    100%{
        transform:  scaleX(1.5);
     

        
      
    }
  
}

@keyframes show {
    0%{
        transform: translateX(-21rem);
    }  
}

.hideMenu{
    /* display: hidden; */
    animation: hide 500ms ease-in  both;

}

.showMenu{
  
    animation: show 500ms ease-in both;

}

.expandMain{
    animation: expand 500ms ease-in;
}

.takeMain{
    animation: take 500ms ease-in both;
}