<div class="flex flex-col w-full bg-neutral-blue max-w-[95rem]">
    <div class="flex flex-row w-full bg-second-yellow max-w-[95rem]">
        <header 
        class="w-full max-w-sm">
            <app-menu 
            role = "{{account?.role?.name}}"
            name="{{account?.name}}"
            ></app-menu>
        </header>
        <main 
        
        class=" w-full box-border  bg-main-red ">
            <!-- <router-outlet></router-outlet> -->
            <h1>tela</h1>
        </main>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>
